@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 5%;
    position: absolute;
    width: 100%;
    z-index: 100;
}
header h1 {
    font-size: 40px;
    color: white;
}
header nav {
    display: flex;
    gap: 30px;
}
header nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 99px;
    transition: 0.3s;
    color: white;
}
header nav a.active {
    background: #5247B9;
}
header nav a:hover {
    background: #5247B9;
}
header nav:hover > a:not(:hover) {
    background: none;
}

.home {
    display: flex;
    height: 100dvh;
    background: linear-gradient(to top, #D2E2FB 30%, #86A8DB);
    position: relative;
    overflow: hidden;
}

.home img {
    position: absolute;
    bottom: 0;
    width: 100%;
    pointer-events: none;
}

.home .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 80px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.about {
    padding: 50px;
    background: #3B3291;
    color: white;
    position: relative;
    z-index: 100;
}
.about h1 {
    font-size: 40px;
}   

/* Add media queries here */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 20px 0;
    }
    header h1 {
        margin-bottom: 20px;
    }
    header nav {
        flex-direction: column;
        gap: 10px;
    }
    header nav a {
        font-size: 18px;
    }
   .home.title {
        font-size: 60px;
    }
}

#language-button {
    padding: 10px 20px;
    background-color: #663fc2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.about2 {
    padding: 50px;
    background: #3B3291;
    color: white;
    position: relative;
    z-index: 100;
}

.about3 {
    padding: 50px;
    background: #3B3291;
    color: white;
    position: relative;
    z-index: 100;
}

.Btn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    /* overflow: hidden; */
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all 0.3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
  }
  
  .BG {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #3B3291;    
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    transition: all 0.3s;
  }
  
  .Btn:hover .BG {
    transform: rotate(35deg);
    transform-origin: bottom;
  }
  
  .Btn:hover .svgContainer {
    background-color: rgba(41, 43, 161, 0.589);
    backdrop-filter: blur(4px);
  }
  

  /* redes */
  .redes {
    width: 80px;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  
  .redes a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    transition: all 0.3s ease-in-out;
  }
  
  .redes a svg {
    width: 30px;
    fill: #ffffff;
  }
  
  .redes .discord {
    background-color: rgb(0, 60, 255);
  }
  
  .redes .github {
    background-color: rgb(24, 22, 22);
  }
  
  .redes .twitter {
    background-color: #33BBFF;
  }
  
  .redes .instagram {
    background: linear-gradient(45deg, #833AB4, #FD1D1D, #F56040);
  }
  
  .redes a:hover {
    width: 90px;
  }


  .card-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px; /* Add some margin between the cards */
    background-color: #f2f2f2; /* Add a background color to the card */
    padding: 10px; /* Add some padding to the card */
    border-radius: 5px; /* Add a border radius to the card */
  }
  
  .image-container.i {
    margin-right: 0; /* Remove the margin between the images */
  }

  

  